*   {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    background-color: rgb(230, 165, 104);
    border-radius: 20px;
    padding: 8px;
    text-align:  center;
}

#gen {
    background-color: rgb(236, 225, 225);
}

#eff {
    background-color: rgb(236, 225, 225);
}

#canvas {
    border: 5px solid black;
    padding: 0;
}

